<IfModule mod_rewrite.c>
RewriteEngine On  
RewriteBase /  
RewriteCond %{HTTP_HOST} ^a.com$ [OR]  
RewriteCond %{HTTP_HOST} ^www.a.com$  
RewriteRule ^(.*)$ http://127.0.0.1/$1 [R=301,L] 
</IfModule>
