/* Basic jQuery Slider essential styles */
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{
text-align: center;
margin-top:-24px;
height:15px;
position:absolute;
}
ol.bjqs-markers li{
background: none repeat scroll 0 0 #E5E5E5;
border-radius: 6px;
cursor: default;
display: inline-block;
height: 12px;
width: 12px;
margin-right:15px;
_float:left;
}  
ol.bjqs-markers li.active-marker{
background: none repeat scroll 0 0 #00A2CA;
border-radius: 6px;
cursor: default;
display: inline-block;
height: 12px;
width: 12px;
margin-right:15px;
_float:left;
}
ol.bjqs-markers li a{
outline:medium none;
 cursor:pointer;
 display:block;
height: 12px;
width: 12px; 
 text-indent:-99999em;
 /*display:table-column;*/
}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
